@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@font-face {
  font-family: "Gotham Bold", sans-serif;
  src: url("/fonts/Gotham-Bold.otf") format("otf");
}
@font-face {
  font-family: "Gotham Medium", sans-serif;
  src: url("/fonts/gotham-medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gotham Book", sans-serif;
  src: url("/fonts/Gotham-Book.woff") format("woff");
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.btn-details {
  display: block;
  width: 190px;
  height: 50px;
  border: 1px solid #4b5562;
  border-bottom: 2px solid #4b5562;
  color: #2c4058;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-details:hover {
  background-color: #7e5aff;
}

.btn-form {
  width: 140px;
  margin-right: 0;
  margin-left: auto;
}

.address {
  margin-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

.white-heart {
  color: red;
}

.align-center {
  margin: 60px auto;
}

.header {
  background-image: url(/img/tu-tram-pham-202263.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(45deg, #55b7ff 0%, #7d59ff 100%);
  font-family: "Gotham Medium", sans-serif;
  font-weight: 400;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  width: 594px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  list-style-image: url(/img/marker-none.png);
  color: #fff;
}
.header__menu__item:hover {
  list-style-image: url(/img/marker-fill.png);
}
.header__item > a {
  color: #fff;
  text-transform: uppercase;
}
.header__social {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
}

.ourGoal {
  padding: 140px 0;
}
.ourGoal__title {
  text-transform: uppercase;
  text-align: center;
  color: #2c4058;
  font-family: "Gotham Bold", sans-serif;
  font-size: 44px;
  font-weight: 700;
}
.ourGoal__title::before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto 40px;
  border-top: 2px solid #2c4058;
}
.ourGoal__card {
  width: inherit;
  margin-top: 170px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.ourGoal-bg {
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -215px;
  width: 585px;
  height: 470px;
  background-color: #55b7ff;
}
.ourGoal-bg--secondary {
  position: absolute;
  width: 585px;
  height: 470px;
  z-index: -1;
  top: -30px;
  right: -215px;
  background-color: #7e5aff;
}
.ourGoal__desc {
  width: 460px;
  padding-top: 70px;
  font-family: "Gotham Book", sans-serif;
}

.card__image {
  padding-top: 70px;
}

.card__pretitle {
  padding-top: 58px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #2c4058;
}

.card__title {
  margin-top: 5px;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2c4058;
}

.card__definition {
  margin: 38px 0 36px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #4b5562;
}

.slider {
  position: relative;
  margin: 0 auto;
}

.slick-dots {
  padding: 0;
  margin: 0;
  width: 50px;
  margin: 20px auto;
  display: flex;
}
.slick-dots button {
  font-size: 0;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: transparent;
}

.slick-active button {
  background-color: #fff;
  border: none;
}

.news {
  position: relative;
  padding: 140px 0;
  width: 100vw;
  height: 1035px;
  background-image: url("../img/bg-news.png"), linear-gradient(to top, #3c7fd4, #24ccfa);
  background-repeat: no-repeat;
  background-size: cover;
}
.news__title {
  margin-bottom: 100px;
  font-family: "Gotham Bold", sans-serif;
  font-size: 44px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.5;
}
.news__title::before {
  content: "";
  display: block;
  margin: 0 auto 40px;
  width: 100px;
  border-bottom: 1px solid #fff;
}

.board {
  width: 370px;
  position: relative;
  margin: 0 20px;
  padding-bottom: 30px;
  background-color: #fff;
}
.board__title {
  margin: 30px 0 20px 20px;
  font-family: "Gotham Medium", sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.55;
  text-transform: uppercase;
  color: #2c4058;
}
.board__desc {
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #4b5562;
}
.board__inner {
  margin: 35px 0 30px 20px;
  display: flex;
  justify-content: left;
}
.board__inner-wrapper {
  margin-left: 20px;
  height: 60px;
}

.name {
  margin-bottom: 13px;
  font-family: "Gotham Book", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-transform: uppercase;
  color: #2c4058;
}

.date {
  margin-bottom: 13px;
  font-family: "Gotham Medium", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #55b7ff;
}

.left-tick {
  position: absolute;
  left: 250px;
  top: 550px;
}

.right-tick {
  position: absolute;
  right: 250px;
  top: 550px;
}

.gallery {
  padding: 140px 0;
}
.gallery__title {
  margin-bottom: 95px;
  text-transform: uppercase;
  text-align: center;
  color: #2c4058;
  font-family: "Gotham Bold", sans-serif;
  font-size: 44px;
  font-weight: 700;
}
.gallery__title::before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto 40px;
  border-top: 2px solid #2c4058;
}
.gallery__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery__mosaic {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#map {
  display: block;
  width: 100%;
  height: 700px;
}

.contact {
  position: relative;
  top: -300px;
  display: block;
  width: 770px;
  height: 450px;
  margin: 0 auto;
  padding: 60px;
  background-color: #fff;
  font-family: "Gotham Book", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.contact__title {
  text-transform: uppercase;
  text-align: center;
  color: #2c4058;
  font-family: "Gotham Bold", sans-serif;
  font-size: 44px;
  font-weight: 700;
}
.contact__title::before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto 40px;
  border-top: 2px solid #2c4058;
}
.contact__wrapper {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}
.contact__form {
  font-family: "Gotham Book", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.contact__form > input[type=text] {
  display: block;
  width: 310px;
  margin-bottom: 38px;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px solid #4b5562;
}
.contact__form > input[type=email] {
  display: block;
  width: 310px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px solid #4b5562;
}

.contact-icon-color {
  color: #7e5aff;
}

.contact__info > p:nth-child(1) {
  margin-bottom: 40px;
}

.contact__info > p:nth-child(2) {
  margin-bottom: 40px;
}

.contact__info > p:nth-child(3) {
  margin-bottom: 40px;
}

.contact__info > p:nth-child(4) {
  margin-bottom: 40px;
}

.footer {
  display: block;
  position: relative;
  top: -450px;
  z-index: -1;
  padding: 204px 0 210px;
  background: url("/img/bg-footer.png"), linear-gradient(to top, #55b7ff, #7e5aff);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__inner {
  display: flex;
  width: 770px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  margin-top: 42px;
  font-family: "Gotham Medium", sans-serif;
  font-size: 14px;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}