body {
    padding-bottom: 0;
}


.container {
    width: 1170px;
    margin: 0 auto;
}
.btn-details {
    display: block;
    width: 190px;
    height: 50px;
    border: 1px solid $desc-color;
    border-bottom: 2px solid $desc-color;
    color: $primary-color;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        background-color: $behind-color;
    }
}
.btn-form {
    width: 140px;
    margin-right: 0;
    margin-left: auto;
}
.btn-gallery {
    margin: 60px auto;
}
.address {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    // font-style: italic;
    font: {
        size: 18px;
        weight: 400;
        style: italic;
    }
}
//TOP-SLIDER


//LATEST-NEWS-SLIDER


//others
.white-heart {
    // color: $main-color;
    color: $main-color;
}
.align-center {
    margin: 60px auto;
}
.scroll-icon {
    position: relative;
    top: -100px;
    left: calc(50% - 20px);
}
.left-tick {
    position: absolute;
    left: 5%;
    top: 550px;
}
.right-tick {
    position: absolute;
    right: 5%;
    top: 550px;
}